torch>=2.2,<2.9
torchvision>=0.17,<0.20
pytorch-lightning>=1.8.6,<2.5
einops
matplotlib>=3.8,<3.10
numpy>=1.26,<2.2
omegaconf==2.0.0
python-dateutil==2.8.2
scipy>=1.11,<1.14
tqdm==4.64.1
transformers==4.37.2
wandb>=0.16,<0.18
scikit-image>=0.22,<0.25